@font-face {
    font-family: 'overlockblack';
    src: url('../fonts/overlock-black-webfont.woff2') format('woff2'),
        url('../fonts/overlock-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pts55f-webfont.woff2') format('woff2'),
        url('../fonts/pts55f-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'handleeregular';
    src: url('../fonts/handlee-regular-webfont.woff2') format('woff2'),
        url('../fonts/handlee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}