@use "mixins" as m;

$primary-color: #9ab1c8;
$accent-color: #a8b5a3;
$secondary-color: #798ca0;
$light-text-color: #e7f3ff;
$dark-text-color: #68748a;

img {
    max-width: 100%;
    height: auto;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "handleeregular", 'Verdana', sans-serif;
    letter-spacing: 3px;
    padding-left: 15px;
}

p {
    font-size: 13px;
    padding: 5px;
    margin: 5px;
}

main {
    flex: 1;
}

body {
    margin: 0;
    font-family: "pt_sansregular", 'Verdana', sans-serif;
    background-color: $light-text-color;
    color: $dark-text-color;
}

button {
    padding: 15px;
    font-size: 1rem;
    font-weight: bold;
    @include m.rounded_box(5px, $secondary-color);
    background-color: $accent-color;
    color: $light-text-color;
    cursor: pointer;

    &:hover {
        background-color: #e85555;
    }
}

span,
#letter_display {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.wrapper {
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
}


.btn_disabled {
    background-color: #606060;
    color: rgb(178, 190, 193);
    cursor: not-allowed;
}

#game_container {
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game_display_box {
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

#new_game_btn {
    margin: 10px
}

#game_over {
    margin: 5px 0;
    color: #cc2323;
}

#won {
    margin: 5px 0;
    color: rgb(18, 140, 18);
}

#hangman_img {
    max-width: 90%;
    border-radius: 8px;
}

#animate{
    position: relative;
}
